
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    background-color: aquamarine;
    color: black;
    border: 3px solid aqua;
    font-size: 25px;
}

h1 {
    color: black;
    position: center;
}

ul {
    color: orchid;
    background-color: red;
}

h2 {
    color: blue;
    font-family: cursive;
}

.para {
    background-color: aqua;
}

#head {
    background-color:red;
    text-align: center;
}

#quote {
    background-color: gold;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif
}

.color {
    background-color:rgba(7, 66, 32, 0.447);
}




a.pseudo:visited {
    color: yellow;
}

a.pseudo:hover {
    color: skyblue;
}

a.pseudo:active {
    color: purple;
}

.outer {
    background-color: aquamarine;
    width: 400px;
    border: 3px solid aqua;
    padding: 3px;
    margin: 5px;
    position: center;
}

.inner {
    background-color: aquamarine;
    width: 400px;
    border: 3px solid aqua;
    padding: 3px;
    margin: auto;
    margin-top: 5px;
}

.lefter {
    background-color: aquamarine;
    width: 500px;
    border: 3px solid aqua;
    padding: 3px;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    box-align : left;
}

.righter {
    background-color: aquamarine;
    width: 500px;
    border: 3px solid aqua;
    padding: 3px;
    margin-top: 200px;
    margin-left: 50px;
    box-align : right;
    

}


nav.sticky {
    position:sticky;
    top: 0px;
    padding: 3px;
    background-color: aquamarine;
    border: 3px solid aqua;
}

.surround {
    background-color: gold;
    color: pink;

}

#image {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#video {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 100px;
    margin-left: 5px;
}



@keyframes animation {
    0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
  }
  
  
  h4 {
    width: 300px;
    height: 50px;
    background-color: red;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
 

  .absolute1 {
    position: absolute;
  top: 150px;
  right: 50;
  width: 600px;
  height: 400px;
  
  }

  .absolute2 {
    position: absolute;
  top: 650px;
  right: 500;
  width: 600px;
  height: 400px;
    box-align: left;
  }